#time for cache price from deffilama in minutes (default 10)
DEFILLAMA_CACHE_TIME=10 

# Dapp URL use for call back and checks
NEXT_PUBLIC_URL=
NEXT_PUBLIC_REFERAL_BASE_LINK=

# Wallet conexion
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_CHAIN_RPC=
NEXT_PUBLIC_WALLETCONECT_ID=
NEXT_PUBLIC_CHAIN_CONTRACT_EXPLORER=

# External
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_IS_PREDEPOSIT_PHASE=abdoubakar

NEXT_PUBLIC_MAINTENANCE_MODE=false

NEXT_PUBLIC_IS_LEVERAGE_ON=false