@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Roobert';
    src: url('/fonts/RoobertTRIALVF.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


:root {
  --background: #000;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans),  sans-serif;
}
